{% extends "layout.html" %}

{% block title %}
  About
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-l-12 synth">
            <div class="content">
                <p>WAVEWALL is my final project for the CS50 course, and it has taught me some important lessons, above all, the need to MANAGE EXPECTATIONS.</p>
                <br>
                <p>WAVEWALL is a synthesiser built using the <a href="https://tonejs.github.io/" id="tone">
                    <span class="tonelink">T</span>
                    <span class="tonelink">o</span>
                    <span class="tonelink">n</span>
                    <span class="tonelink">e</span>
                    <span class="tonelink">.</span>
                    <span class="tonelink">j</span>
                    <span class="tonelink">s</span>
                    </a> library, visitors can use the synth freely without registering.</p>
                    <br>
                <p>If you choose to register, patches can be saved in the WAVEWALL database and reloaded at will.</p>
                <br>
                <br>
                <p>Hope you enjoy it!</p>
            </div>
        </div>
    </div>
    <script></script>
{% endblock %}