<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <title>WAVEWALL</title>
  </head>

  <body id="mainpagebody">
      <div class="gridwrapper" style="margin-top: 10%;">
          <div class="row">
              <div class="index col-6">WELCOME</div>
          </div>
          <div class="row">   
              <div class="index col-6" style="font-size: 2em">TO</div>
          </div> 
          <div class="row">
              <div class="col-8">
                  <a href="/synth" id="mainlink">
                    <span class="title">W</span>
                    <span class="title">A</span>
                    <span class="title">V</span>
                    <span class="title">E</span>
                    <span class="title">W</span>
                    <span class="title">A</span>
                    <span class="title">L</span>
                    <span class="title">L</span>
                    <script> </script>
                  </a>
              </div>
          </div>
          <footer id="footer" class="col-12"><p>Made by João Rocha</p><p>2020</p></footer>
     </div>
  </body>
</html>