{% extends "layout.html" %}

{% block title %}
    Synthesiser
{% endblock %}

{% block main %}
    <div class="synth">
      <div class="row">
        <div class="col-l-1 col-2 col-s-3 osc">
          <p style="font-weight: bold;">OSC 1</p>
          <fieldset class="waves">
            <legend>Waveform</legend>
            <div class="wavesel">
            <label for="square1"><input id="square1" type="radio" name="osc1" value="square" checked>Square</label>
            </div>
            <div class="wavesel">
            <label for="saw1"><input id="saw1" type="radio" name="osc1" value="sawtooth">Saw</label>
            </div>
            <div class="wavesel">    
            <label for="sine1"><input id="sine1" type="radio" name="osc1" value="sine">Sine</label>
            </div> 
          </fieldset>  
          <div class="vol">
            <p>Volume</p>
           <input type="range" orient="vertical" min="-100" step="10" max="10" value="-10" id="vol1"/>
          </div>
        </div>
        <div class="col-l-1 col-2 col-s-3 osc">
          <p style="font-weight: bold;">OSC 2</p>
          <fieldset class="waves" id="waves1">
            <legend>Waveform</legend>
            <div class="wavesel">
            <label for="square2"><input id="square2" type="radio" name="osc2" value="square" checked>Square</label>
            </div>
            <div class="wavesel">
            <label for="saw2"><input id="saw2" type="radio" name="osc2" value="sawtooth">Saw</label>
            </div>
            <div class="wavesel">    
            <label for="sine2"><input id="sine2" type="radio" name="osc2" value="sine">Sine</label>
            </div> 
          </fieldset>
           <div class="freq">
             <p>Frequency</p>
             <input type="range" orient="vertical" min="-7" step="0.1" max="7" value="1" id="freq"/>
           </div>
        </div>
        <div class="col-l-1 col-2 col-s-3 filter">
          <p style="font-weight: bold;">Filter</p>
          <fieldset class="filtersel">
            <legend>Pass</legend>
            <div class="passel">
            <label for="lowpass"><input id="lowpass" type="radio" name="filter" value="lowpass" checked>Low-pass</label>
            </div>
            <div class="passel">
            <label for="highpass"><input id="highpass" type="radio" name="filter" value="highpass">High-pass</label>
            </div>
          </fieldset>
          <p>Cutoff</p>
             <input type="range" orient="vertical" min="1" step="0.01" max="3000" value="0" id="cutoff"/>
          <p>Resonance</p>
          <input type="range" orient="vertical" min="0" step="0.01" max="0.99" value="0" id="resonance"/>          
        </div>
        <div class="col-l-2 col-3 col-s-4 envelope">
        <p style="font-weight: bold;">Amplitude Envelope</p>
        A<input type="range" orient="vertical" min="0" step="0.01" max="1.99" value="0" id="attacka"/>
        D<input type="range" orient="vertical" min="0" step="0.01" max="1.99" value="0" id="decaya"/> 
        S<input type="range" orient="vertical" min="0" step="0.01" max="1" value="0" id="sustaina"/> 
        R<input type="range" orient="vertical" min="0" step="0.01" max="4.99" value="0" id="releasea"/> 
        </div>
        <div class="col-l-2 col-3 col-s-4 envelope">
          <p style="font-weight: bold;">Filter Envelope</p>
          A<input type="range" orient="vertical" min="0" step="0.01" max="1.99" value="0" id="attackf"/>
          D<input type="range" orient="vertical" min="0" step="0.01" max="1.99" value="0" id="decayf"/> 
          S<input type="range" orient="vertical" min="0" step="0.01" max="1" value="0" id="sustainf"/> 
          R<input type="range" orient="vertical" min="0" step="0.01" max="4.99" value="0" id="releasef"/> 
          </div>
        
      </div>  
      <button type="button" id="start">Start</button>
      <button type="button" id="playbtn" onclick="play()">Test</button>
    </div>
    <div class="row">
      <div class="col-2" id="oscilloscope">
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}