{% extends "layout.html" %}

{% block title %}
    {{username}}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-l-12">
        <form action="/user" method="POST">
            <ul class="userlist">
                {% for patch in patches %}
                    <li class="listitem">{{patch}}<button type="submit" name="patch" class="listbutton" value="{{patch}}">Delete</button></li>
                {% endfor %}
            </ul>
        </form>
        </div>
    </div>
{% endblock %}